<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<% booksArray.forEach((book) => { %>
    <h2><%= book.authors %></h2>
    <h2><%= book.title %></h2>
<img src=<%= book.image_url %>>

<p><a href="<%= book.link %>" role="button">learn more</a></p>

<a href><%book.link %></a>
<% }) %>

</body>
</html>