<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=
    
    , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <section>
        <% events.forEach((event) => { %>
            <%= <img src="../../public/images/meeting.jpg" alt=""> %>
            <h2><%= event.title %></h2>
            <h2><%= event.city %></h2>
        
            <h2><%= event.start_time %></h2>
        <% }) %>

    </section>


</body>
</html>



