<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <div class="container">
    <%- include('../layout/header') %>

    <aside>

    </aside>

      <main>
        
        <div>
          <img id="imageFour" src="images/women2.jpg" alt="">

        </div>

        <section id="about-us">
          <h2>About Us</h2>
          <hr class="style-one">

          <p>At Fin Gal, we believe that investing is important at all stages of life, whether you are a student or an established career woman. Our mission is to provide all women with the tools to reach their future financial needs. With a simple to use platform, company stock information, books and local finance events are at your fingertips. </p>

          <a id="backTop" href="">Back To Top</a>
          </section>

          <section id="search-company">
            <h2>Search For A Company</h2>
            <hr class="style-one">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nihil voluptas voluptates pariatur impedit, sit neque cumque ut nam totam adipisci doloremque.</p>

            <form action="/results" method="POST">
              <input type="text" name="search" placeholder="Search By Company Name Or Symbol" id="inputSearch">

              <input type="radio" name="search-company" value="company" id="radio">Company<br>
              <input type="radio" name="search-symbol" value="symbol" id="radio">Symbol<br>


              <button id="search-button" type="submit" value="Search">Search</button>
            </form>

            <a id="backTop" href="">Back To Top</a>
          </section>
          

          <section id="more-resources">
            <h2>More Resources</h2>
            <hr class="style-one">
            <p>

            <a id="backTop" href="">Back To Top</a>
        </section>        

          <section id="plan-ahead">
            <h2 id="plan-ahead">Plan Ahead</h2>
            <hr class="style-one">
            <p id="plan-ahead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsum quas praesentium eius eveniet quibusdam magnam fugiat iure harum accusantium, expedita atque quidem nostrum aperiam nihil placeat officiis ipsa facere</p>

            <a id="backTop" href="">Back To Top</a>
          </section>


          <section id="creators">
            <h2>Creators</h2>
            <hr class="style-one">
            <a href="#" class="creators"><img id="imgCreators" src="images/creators.jpg" alt="" /></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsum quas praesentium eius eveniet quibusdam magnam fugiat iure harum accusantium, expedita atque quidem nostrum aperiam nihil placeat officiis ipsa facere.</p>
          
            <a id="backTop" href="">Back To Top</a>
          </section>
          

      </main>
      
        <%- include('../layout/footer') %>
      </div>

      </section>

</body>

</html>