<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <div class="container">
    <%- include('../layout/header') %>
    <aside>

    </aside>
      <main>
        <div id="mainImage">
          <img id="imagefour" src="images/main-bg.jpg" alt="">

        </div>

        <section id="about-us">
          <h2>About Us</h2>

          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, ad, aut incidunt delectus nam cumque cum voluptates, culpa quos reprehenderit assumenda labore! Consectetur excepturi similique, iste laudantium eum eos aliquid?</p>

          <hr class="style-one">
          </section>

          <section id="search-company">
            <h2>Search For A Company</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nihil voluptas voluptates pariatur impedit, sit neque cumque ut nam totam adipisci doloremque, consequatur rerum beatae! Commodi nulla saepe possimus ipsam.</p>

            <form action="/results" method="POST">
              <input type="text" name="search" placeholder="Search By Company Name Or Symbol" id="inputSearch">
              <select id="dropDown" name="search" required>
                <option value="company">Company</option>
                <option value="symbol">Symbol</option>
              </select>
              <button id="search-button" type="submit" value="Search">Search</button>
            </form>

            <hr class="style-one">
          </section>
          

          <section id="more-resources">
            <h2>More Resources</h2>
            <h3>Get Smart On Finance</h3>

            <hr class="style-one">
        </section>        

          <section id="plan-ahead">
            <h2>Plan Ahead</h2>
            <hr class="style-one">

          </section>


          <section id="creators">
            <h2>Creators</h2>
            <a href="#" class="creators"><img src="images/creators.jpg" alt="" /></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsum quas praesentium eius eveniet quibusdam magnam fugiat iure harum accusantium, expedita atque quidem nostrum aperiam nihil placeat officiis ipsa facere.</p>
          
            <a href="">Back To Top</a>
          </section>
          
             

      </main>
      

        <%- include('../layout/footer') %>
      </div>

 
      </section>

</body>

</html>