<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>
  <div class="container">
    <%- include('../layout/header') %>

      <main>

        <section id="about-us">
          <h2>About Us</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum, ad, aut incidunt delectus nam cumque cum voluptates, culpa quos reprehenderit assumenda labore! Consectetur excepturi similique, iste laudantium eum eos aliquid?</p>
          </section>

          <section id="search-company">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste nihil voluptas voluptates pariatur impedit, sit neque cumque ut nam totam adipisci doloremque, consequatur rerum beatae! Commodi nulla saepe possimus ipsam.</p>

            <form action="/results" method="POST">
              <input type="text" name="search" placeholder="Search..." value="search">
              <input type="submit" value="Search" id="button">
            </form>
          </section>
          

          <section id="more-resources">


          </section>          
          <section id="plan-ahead">
          </section>


          <section id="creators">
            <a href="#" class="creators"><img src="images/creators.jpg" alt="" /></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta ipsum quas praesentium eius eveniet quibusdam magnam fugiat iure harum accusantium, expedita atque quidem nostrum aperiam nihil placeat officiis ipsa facere.</p>
            
          </section>




      </main>
      

        <%- include('../layout/footer') %>
      </div>

  



      </section>

</body>

</html>