<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head') %>

<body>

    <div class="container">
        <%- include('../layout/header') %>
        <aside>

        </aside>
        <main>
            <h2>Your Search Result</h2>
            <section id="search-result">
           
                    <%- include('detail.ejs', {company: company}) %>
        
                    <input type="submit" value="Add to Portfolio" id="add-button">
                
            </form>  
          </section>
        </main>
      
        <%- include('../layout/footer') %>
      </div>
</body>

</html>