* { 
    box-sizing: border-box;
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
<<<<<<< HEAD
    grid-template-rows:  110px auto 110px;
=======
    grid-template-rows:  110px auto  110px;
>>>>>>> e81f7556777d9e2f3ba4bba4a4f02ed2d79dacc1
    min-height: 100vh;
} 
