header {
    /* background-image: url("../images/background.png"); */
    background-color: rgba(54, 85, 185, 0.356);
    grid-column: 1 / -1;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* h1 aka logo */
#logo {
    font-family: 'Cinzel', serif;
    font-size: 6em;
    font-weight: bolder;
    margin: 15px 15px;
    color: white;
    display: inline;
}

nav #nav-bar  {
    margin: 30px -80px;
}

ul#nav-bar li {
    display:inline;
    margin-right: 2.5em;
}

#company-image {
    max-width: 250px;
    max-height: 250px;
}
main > section {
    text-align: center;
    padding-bottom: 2em;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a:hover {
    color:rgb(158, 98, 98);
}

#backTop {
    color: saddlebrown;
    font-size: 1em;
}

#backTop:hover {
    color: lightblue;
}

footer {
    background-color: rgb(211, 200, 200);
    grid-column: 1 / -1;
    padding: 20px;
    display: grid;
    justify-content: center;
    /* grid-template-columns: 1.8fr 2fr; */
}

#footerLogo {
    font-size: 2em;
    color: white;
    text-align: center;
    /* justify-content: center; */
       
}

ul#footerNav li {
    font-size: 0.6em;
    padding-right: 1em;
    display: inline;
    /* grid-column-start: span 3; */
   
}
#footer {
    text-align: center;
    padding: 4em;
}


section > h2 {
    font-size: 2.5em;
    color: rgb(104, 103, 103);
    margin-top: 2em;
    
}

main > section > p {
    font-size: 1.6em;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 25px;
    margin-bottom: 2em;
    color: rgb(121, 114, 114);
}

#search-button {
  border-radius: 5px;
  border: none;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  background-color: brown;
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  width: 15em;
  margin-top: 1em;
  margin-bottom: 2em;
}  


#radio {
    height: 17px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 5px;
}


