header {
    /* background-image: url("../images/background.png"); */
    background-color: rgba(54, 85, 185, 0.356);
    grid-column: 1 / -1;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* h1 aka logo */
#logo {
    font-family: 'Cinzel', serif;
    font-size: 6em;
    font-weight: bolder;
    margin: 15px 15px;
    color: white;
    display: inline;
}

nav #nav-bar  {
    margin: 30px -80px;
}
#company-image {
    max-width: 250px;
    max-height: 250px;
}
ul#nav-bar li {
    display:inline;
    margin-right: 50px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    background-color: rgb(211, 200, 200);
    grid-column: 1 / -1;
}

section > h2 {
    font-size: 2em;
    color: rgb(104, 103, 103);

}

#search-bar {
    padding: 8px;
}