<footer>
    <div>
        <nav>
            <ul id="footerNav">
                <li><a href="#search-company">SEARCH</a></li>
                <li><a href="#more-resources">MORE RESOURCES</a></li>
                <li><a href="#plan-ahead">PLAN AHEAD</a></li>
                <li><a href="../pages/portfolio.ejs">PORTFOLIO</a></li>
                <li><a href="#creators">CREATORS</a></li>
            </ul>
        </nav>
        
        <div>
            <h1 id="footerLogo">Fin Gal</h1>
            <h4 id="footer">COPYRIGHT © 2019-2020 FIN GAL</h4>
        </div>

    </div>

</footer>