<header>
    <div>
        <a href="/"><h1 id="logo">Fin Gal</h1></a>
    </div>
    
    <nav>
        <ul id="nav-bar">
            <li><a href="#search-company">SEARCH</a></li>
            <li><a href="#more-resources">MORE RESOURCES</a></li>
            <li><a href="#plan-ahead">PLAN AHEAD</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            <li><a href="#creators">CREATORS</a></li>
        </ul>
    </nav>
</header>