<header>
    <div>
        <a href="/"><h1 id="logo">Fin Gal</h1></a>
    </div>
    
    <nav>
        <ul id="nav-bar">
            <li><a href="/#search-company">SEARCH</a></li>
            <li><a href="/portfolio">PORTFOLIO</a></li>
            
        </ul>
    </nav>
</header>