<header>
    <div>
        <h1 id="logo">Fin Gal</h1>
    </div>
    
    <nav>
        <ul id="nav-bar">
            <li><a href="#">SEARCH</a></li>
            <li><a href="#">MORE RESOURCES</a></li>
            <li><a href="#">PLAN AHEAD</a></li>
            <li><a href="#">PORTFOLIO</a></li>
            <li><a href="#">CREATORS</a></li>
        </ul>
    </nav>
</header>